---
layout: default
title: About
section_id: about

testimonials:
  - quote: I have had the privilege of having Tony design and manage multiple sites for me, and it has been a wonderful experience! He is knowledgeable, efficient and effective, and creates the sites to my specifications. He's also always learning and growing; keeping up with the latest research, trends and more. 325studio is a fabulous.
    author: M. Bridget Cook, The Perfect Word
  - quote: Working with Tony Naccarato, owner of 325studio, has been an exceptional experience. He is professional, detailed, and thoroughly talented in every aspect of his business. He walks you through defining your market and brand to ensure his designs will portray exactly what you intend. Tony then goes about doing what he does best: sculpting your personal icon, business card, website, or other graphic needs to perfection. 325studio is priced fairly and provides outstanding results. I recommend Tony's work to anyone looking to create a memorable business image.
    author: Tami Rene, Tami Rene Music
  - quote: The qualities that set Tony Naccarato apart from his peers are the reasons why I will ALWAYS choose his company over any other company! These qualities are his listening skills and his level of patience. He actually hears what I want to create with my website and he comprehends my desired outcome. Because my business is very fluid and flexible I also have the need to change my desired outcome more often than most and this is when I truly appreciate his ability to be so patient with me! His expertise, which speaks for itself, added to these qualities have brought me much success in my growing business!
    author: Lisa Rosswalker, Healing Light
---

<div class='full parallax' style='background-image: url(images/@stock/service-page-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="About Us" tagline="Get to know what we do" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Our history</h3>
      <p>325studio is full service creative designed agency owned by Tony Naccarato, a product designer who specializes in branding, website design, application design, and user experience design. The company was established officially in 2007, but Tony has worked as a freelance designer for over 15 years working mostly with website design, user interaction, front-end development, as well as branding and print work.</p>
      <p>325studio is located out of Davis County, Utah but services clients from New York to England.</p>
      <p>Even though 325studio is mostly a solo freelancing company, depending on the project, the services of other designers or contacts are utilized to deliver the quality work that 325studio is known for.</p>
    </div>
  </div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>