---
layout: default
title: Portfolio
section_id: portfolio
works:
- image: "/uploads/1 salon 400.png"
  title: 1 Salon Brand Identity
  link_to: work/1-salon-brand-identity.html
  klass: brand
  desc: Logo Design & Brand Identity
- image: "/uploads/1 Salon website.png"
  title: 1 Salon Website Design
  link_to: work/1-salon-website-design.html
  klass: web-design
  desc: Website Design &amp; Development
- image: "/uploads/Julien consuting brand.png"
  title: Julien Consulting Brand Identity
  link_to: work/julien-consulting-brand.html
  klass: brand
  desc: Logo &amp; Brand Identity
- image: "/uploads/julien consulting website.png"
  title: Julien Consulting Website Design
  link_to: work/julien-consulting-website-design.html
  klass: web-design
  desc: Website Design &amp; Development
- image: "/uploads/evolution volleyball website.png"
  title: Evolution Club Volleyball
  link_to: work/evolution-club-volleyball.html
  klass: web-design
  desc: Website Design &amp; Development
- image: "/uploads/utah loud.png"
  title: Utah Loud Brand Identity
  link_to: work/utah-loud-brand-identity.html
  klass: brand
  desc: Logo &amp; Brand Identity
- image: images/@stock/work-7.jpg
  title: Utah Loud Website Design
  link_to: work/utah-loud-website-design.html
  klass: web-design
  desc: Website Design &amp; Development
- image: "/uploads/bear family haven website.png"
  title: Bear Family Haven
  link_to: work-bear-family-haven.html
  klass: web-design
  desc: Website Design &amp; Development
- image: images/@stock/work-1.jpg
  title: Convoi Brochure
  link_to: work/convoi-brochure.html
  klass: print
  desc: Brochure Design
- image: images/@stock/work-2.jpg
  title: Heritage Wellness Website Design
  link_to: work/heritage-wellness-website-design.html
  klass: web-design
  desc: Website Design &amp; Development
- image: "/uploads/hess transciption.png"
  title: Hess Transcriptions Brand Identity
  link_to: work/hess-transcription-brand-identity.html
  klass: brand
  desc: Logo &amp; Brand Identity
- image: images/@stock/work-4.jpg
  title: Hess Transcriptions Website Design
  link_to: work/hess-transcriptions-web-design.html
  klass: web-design
  desc: Website Design &amp; Development
- image: images/@stock/work-5.jpg
  title: Sego Awards
  link_to: work/sego-awards.html
  klass: print
  desc: Marketing Media Kit Design
- image: images/@stock/work-6.jpg
  title: Shootipedia
  link_to: work/shootipedia-mobile-app.html
  klass: web-design
  desc: Mobile App Design
- image: "/uploads/dri-feet.png"
  title: Dri-feet Logo Design
  link_to: work/dri-feet-logo-design.html
  klass: brand
  desc: Logo &amp; Brand Identity
- image: images/@stock/work-8.jpg
  title: Dri-feet Packaging Design
  link_to: work/dri-feet-package-design.html
  klass: print
  desc: Packaging Design
- image: images/@stock/work-8.jpg
  title: Tami Rene CD Cover
  link_to: work/tami-rene-cd-cover.html
  klass: print
  desc: CD Cover Design

---
<div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our portfolio" tagline="Have a look at our work" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand Identity</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print Design</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>