<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Here are a few of the many design services we provide.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-fingerprint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Brand Identity</h4>
                    <p class="text-muted">We can help promote your brand with custom logos, business cards, and style guides.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Design, Product Deisgn, & Development</h4>
                    <p class="text-muted">We can help your brand reach more users with custom website design or product design for your mobile or online applications.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User experience design consulting</h4>
                    <p class="text-muted">Sometime you need a little outside help with a product that you are working on. We can work with you and advice you on improve your experience and meeting the needs of your users.</p>
                </div>
            </div>
        </div>
    </section>